{% extends 'base_template.html' %}

{% block title %}{{ profile.name }} Profile{% endblock %}

{% block content %}
{% load static %}
<section class="profile-infos-container">
    <h1 class="profile-infos" id="profile-name">{{ profile.name }}'s Profile</h1>
    <a class="profile-infos" id="profile-github" href="{{ profile.github }}">
        <img src="{% static 'img/github-icon-branco.png' %}" alt="{{ profile.name}}'s GitHub"
            class="profile-infos-image"></img>
    </a>
    <a class="profile-infos" id="profile-linkedin" href="{{ profile.linkedin }}">
        <img src="{% static 'img/linkedin-icon-circular.png' %}" alt="{{ profile.name}}'s LinkedIn"
            class="profile-infos-image"></img>
    </a>
</section>
<section class="main-container">
    <section class="certificates-container" >
        <h2 class="section-title">Certificates</h2>
        {% for certificate in profile.certificates.all %}
        <h3 class="certificates-institution">{{ certificate.name }} - {{ certificate.certifying_institution.name }}</h3>
        {% empty %}
        <h3>No certificates to show</h3>
        {% endfor %}
        <h2 class="section-title">Issued by</h2>
        {% for institution in institutions %}
        <a class="project-github-url" href="{{ institution.url }}" target="_blank">{{ institution.name }}</a>
        {% empty %}
        <h3>No institutions to show</h3>
        {% endfor %}
    </section>
    <section class="projects-container">
        {% for project in profile.projects.all %}
        <div class="project-card">
            <h3 class="project-title">{{ project.name }}</h3>
            <h4 class="project-description">{{ project.description }}</h4>
            <h5 class="project-keyword">{{ project.keyword }}</h5>
            <h4 class="project-key-skill">{{ project.key_skill }}</h4>
            <a class="project-github-url" href="{{ project.github_url }}" target="_blank">Repository</a>
        </div>
        {% empty %}
        <div class="project-card">
            <h3>No projects to show</h3>
        </div>
        {% endfor %}
    </section>
    <section class="bio-container">
        <h2>About me</h2>
        <h3 id="profile-bio">{{ profile.bio }}<h3>
    </section>
</section>
{% endblock %}